.App {
    overflow: hidden;
}

.input {
    text-align: right;
    padding: 20px 30px;
    color: white;
    background-color: grey;
    height: 28px;
    font-size: x-large;
    overflow: hidden;
}

.button {
    height: 80px;
    width: 80px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: white;
}

.button:hover {
    background-color: #e0e0e0;
    transition: all 0.2s;
    transition-timing-function: ease;
}


.MuiGrid-spacing-xs-1 {
    width: calc(100%)!important;
    margin: 0px!important;
}

.button-text {
    font-size: larger;
}
.equals {
    background-color: #03DAC6;
}

.equals:hover {
    background-color: #00f0d8;
}
